/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

* {
    background-color: rgb(40, 40, 40);
    color: white;
    text-align: center !important;
    font-family: 'Roboto', sans-serif;
}

.hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    position: absolute;
}

body {
    margin: 0;
}

p {
    margin: 2em 5em;
    line-height: 1.5;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 40px;
}

form {
    margin: 40px;
}

input, button {
    color: black;
    outline: none;
    border: none;
    background-color: white;
    border-radius: 12px;
}

input {
    padding: 9px 20px;
}

button {
    padding: 10px 20px;
}


